/* Rich text content styles */

.rich-editor ol li[data-list="bullet"] {
  list-style-type: disc;
}

.rich-editor ol li[data-list="ordered"] {
  list-style-type: decimal;
}

.rich-editor ol {
  padding-left: 20px;
}

.rich-editor a {
  text-decoration: underline;
}
