@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-geist-sans), sans;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--color-secondary-light);
  background: url("/assets/images/pattern.jpg");
  background-size: 300px auto;
}

/* Typography */
h1 {
  @apply text-4xl md:text-5xl font-medium;
}

h2 {
  @apply text-3xl md:text-4xl font-medium;
}

h3 {
  @apply text-xl md:text-xl font-normal;
}

:root {
  --toastify-color-success: var(--color-success);
  --toastify-toast-shadow: none;
  --toastify-toast-bd-radius: 0;
}

@theme {
  /* Palette */
  --color-primary-light: #546760;
  --color-primary-lighter: #535b58;
  --color-primary-main: #384742;
  --color-primary-main-90: rgba(56, 71, 55, 0.9);
  --color-primary-main-30: rgba(56, 71, 55, 0.3);
  --color-primary-dark: #293732;

  --color-secondary-light: #f5f5f5;
  --color-secondary-lighter: #c19549;
  --color-secondary-main: #927752;
  --color-secondary-main-80: rgba(146, 119, 82, 0.8);
  --color-secondary-darker: #5d4112;
  --color-secondary-dark: #31271a;
  --color-secondary-dark-80: rgba(49, 39, 26, 0.8);

  --color-success: #3a5833;
  --color-error: #a43010;
}
