.skeleton-content {
  background-color: var(--color-secondary-light);
  position: relative;
  overflow: hidden;
}

.skeleton-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  box-shadow: 0 0 80px 50px #fff;
  animation: skeletonSlide 1s infinite ease-in-out;
}

@keyframes skeletonSlide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
